<!DOCTYPE html>
<html lang="en">
	{% include head.html %}
	{% include header.html %}

	<body class="{{page.title}}">

		<!-- bookshop data starts -->
		<div data-bookshop-live="page" data-bookshop-props="page">
			{% bookshop_include page content_blocks=page.content_blocks %}
		</div>

		{{ content }}

		<div class="side-by-side-images">
			<img src="/images/josh_headshot-tall.jpg" alt="Description of image 2">
		</div>

		{% include footer.html %}
		{% include footer-script.html %}
	</body>
</html>
